<div id="<%= dom_id address %>">
  <p>
    <strong>First name:</strong>
    <%= address.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= address.last_name %>
  </p>

  <p>
    <strong>Building name:</strong>
    <%= address.building_name %>
  </p>

  <p>
    <strong>Street address:</strong>
    <%= address.street_address %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= address.phone %>
  </p>

  <p>
    <strong>User:</strong>
    <%= address.user_id %>
  </p>

  <p>
    <strong>Country name:</strong>
    <%= address.country_name %>
  </p>

  <p>
    <strong>State name:</strong>
    <%= address.state_name %>
  </p>

  <p>
    <strong>City name:</strong>
    <%= address.city_name %>
  </p>

</div>
