<h1>Checkout Details</h1>

<p>
  <strong>Address:</strong>
  <%= @checkout.address %>
</p>

<p>
  <strong>Payment Method:</strong>
  <%= @checkout.payment_method %>
</p>

<p>
  <strong>Total Price:</strong>
  <%= @checkout.total_price %>
</p>

<p>
  <strong>Status:</strong>
  <%= @checkout.status %>
</p>

<p>
  <strong>Payment Status:</strong>
  <%= @checkout.payment_status %>
</p>


<%= link_to 'Edit', edit_usermodule_checkout_path(@checkout) %> |
<%= link_to 'Back', usermodule_checkouts_path %>
