<div id="<%= dom_id coupon %>">
  <p>
    <strong>Code:</strong>
    <%= coupon.code %>
  </p>

  <p>
    <strong>Discount:</strong>
    <%= coupon.discount %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= coupon.description %>
  </p>

  <p>
    <strong>Valid from:</strong>
    <%= coupon.valid_from %>
  </p>

  <p>
    <strong>Valid until:</strong>
    <%= coupon.valid_until %>
  </p>

  <p>
    <strong>Max usage:</strong>
    <%= coupon.max_usage %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= coupon.status %>
  </p>

  <p>
    <strong>Minimum purchase amount:</strong>
    <%= coupon.minimum_purchase_amount %>
  </p>

</div>
